# runtime
runtime:
  verbose: true
  clean: true

# tls
tls:
  cert: ./contrib/tls/cert.pem
  key: ./contrib/tls/key.pem

# sendgrid
sendgrid:
  active: false
  token: token

arangodb:
  endpoint: http://localhost:8529
  user: root
  password: arbuz
  database: pandora

# membership
membership:
  endpoint: 127.0.0.1:2003

# master
master:
  endpoint: 127.0.0.1:2002

# node
node:
  leveldb: ./contrib/node.db
  dashboard: ./dashboard/index.html
  meta:
    name: Pandora university
    email: pandora@mail.sys
  endpoint: 127.0.0.1:2004

# nats:
nats:
  endpoint: nats://127.0.0.1:4222
  user: pandora
  password: arbuz

# discovery
discovery:
  endpoint: 127.0.0.1:2001
