<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300');

    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>

<body>
<section class="container-fluid p-0">
  <div class="alert alert-primary">
    <h4 class="alert-heading">Credentials</h4>

    <h5>Public key</h5>
    <p>{{ .PublicKey }}</p>

    <hr>
    <p class="mb-0">Using a public key, you are identified in the platform</p>
  </div>
</section>
</body>
</html>
