@import "bootstrap.min.css";
@import "fa-svg-with-js.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "spinner.css";

body {
  font-family: 'Roboto', sans-serif
}

.fa-caret-right {
  margin: 0 25px !important;
}

.fa-plus {
  margin: 0 10px 0 5px !important;
}

.fa-caret-right, .fa-plus {
  font-size: 1em !important;
}

.fa-check {
  font-size: 1em !important;
}

.svg-inline--fa {
  font-size: 3em;
  margin: 0 5px;
}
