<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
</head>

<body>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Pandora account is created
      </h1>
      <h2 class="subtitle">
        Password is {{ .Secure.Password }}
      </h2>
    </div>
  </div>
</section>
</body>
</html>
